@use '../../styles/colors';

.FeatureCards {
    h2 {
        font-size: 2rem;
    }
    .Divider {
        border-top: 0.5px solid colors.$border;
        margin: 0.5rem 0 1rem 0;
    }
    ul {
        display: flex;
        gap: 2rem;
        padding: 0;
        li {
            display: flex;
            flex-direction: column;
            border: 1px solid colors.$border;
            padding: 1rem;
            flex-grow: 1;
            width: 35%;
            margin-bottom: 0;
            h3 {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}
