.HeroBanner {
    --bg-offset: -20px;
    height: calc(80vh - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: start;
    padding: 0 4rem;

    background-image: url(../../assets/images/ethan-chan-l58cbjCSvGw-unsplash.jpg);
    background-position: center var(--bg-offset);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    will-change: background-position;
    div {
        h1 {
            color: var(--text-white);
            font-size: 7rem;
        }
        p {
            color: var(--text-white);
            font-size: 2rem;
        }
    }
    button {
        border-radius: 0px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--text-white);
        padding: 0.5rem 1rem;
        cursor: pointer;
        a {
            color: white;
            &:hover {
                border: none;
            }
        }
        &:hover {
            border-bottom: 1px solid var(--text-white);
        }
    }
}
